<md-sidenav-layout>
  <md-sidenav #start>
    <md-nav-list>
      <a md-list-item [routerLink]="['/']" (click)="start.close()">Home</a>
      <a md-list-item [routerLink]="['/form']" (click)="start.close()">Formulário</a>
      <a md-list-item [routerLink]="['/cards']" (click)="start.close()">Cards</a>
      <hr>
      <a md-list-item>Opção 4</a>
    </md-nav-list>
    <button md-button (click)="start.close()">Fechar</button>
  </md-sidenav>
  <div>
    <md-toolbar color="warn">
      <button md-icon-button (click)="start.open()">
        <md-icon class="md-24">menu</md-icon>
      </button>
      <div class="main-toolbar">
        Projeto Teste
      </div>
    </md-toolbar>
  </div>
  <div class="outer-outlet">
    <router-outlet></router-outlet>
  </div>

  <footer>
    <span>Teste &copy;. Todos os testes reservados.</span>
  </footer>

</md-sidenav-layout>
