/* Animation Durations */
/** Component sizing */
:host {
  display: block;
  /** Height and width are provided for md-progress-circle to act as a default.
      The height and width are expected to be overwritten by application css. */
  height: 100px;
  width: 100px;
  /** SVG's viewBox is defined as 0 0 100 100, this means that all SVG children will placed
      based on a 100px by 100px box.  Additionally all SVG sizes and locations are in reference to
      this viewBox.
  */ }
  :host svg {
    height: 100%;
    width: 100%;
    -webkit-transform-origin: center;
            transform-origin: center; }
  :host path {
    fill: transparent;
    stroke: #00897b;
    /** Stroke width of 10px defines stroke as 10% of the viewBox */
    stroke-width: 10px; }
  :host[color='accent'] path {
    stroke: #8e24aa; }
  :host[color='warn'] path {
    stroke: #e53935; }
  :host[mode='indeterminate'] {
    -webkit-animation-duration: 5250ms, 2887.5ms;
            animation-duration: 5250ms, 2887.5ms;
    -webkit-animation-name: md-progress-circle-sporadic-rotate, md-progress-circle-linear-rotate;
            animation-name: md-progress-circle-sporadic-rotate, md-progress-circle-linear-rotate;
    -webkit-animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1), linear;
            animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1), linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-transition: none;
    transition: none; }

/** Animations for indeterminate mode */
@-webkit-keyframes md-progress-circle-linear-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes md-progress-circle-linear-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes md-progress-circle-sporadic-rotate {
  12.5% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  25% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg); }
  37.5% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg); }
  50% {
    -webkit-transform: rotate(540deg);
            transform: rotate(540deg); }
  62.5% {
    -webkit-transform: rotate(675deg);
            transform: rotate(675deg); }
  75% {
    -webkit-transform: rotate(810deg);
            transform: rotate(810deg); }
  87.5% {
    -webkit-transform: rotate(945deg);
            transform: rotate(945deg); }
  100% {
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg); } }

@keyframes md-progress-circle-sporadic-rotate {
  12.5% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  25% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg); }
  37.5% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg); }
  50% {
    -webkit-transform: rotate(540deg);
            transform: rotate(540deg); }
  62.5% {
    -webkit-transform: rotate(675deg);
            transform: rotate(675deg); }
  75% {
    -webkit-transform: rotate(810deg);
            transform: rotate(810deg); }
  87.5% {
    -webkit-transform: rotate(945deg);
            transform: rotate(945deg); }
  100% {
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg); } }
